{% extends "template.html" %}
{% block content %}
<div class="container is-fluid">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>ID Database</th>
        <th>Station ID</th>
        <th>Station Type</th>
        <th>Cause Code</th>
        <th>Postion GPS</th>
      </tr>
    </thead>
    <tbody>
      {% for event in data %}
      <tr>
        {% for key, value in event.items() %}
          <td>{{value}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}