{% extends "template.html" %}
{% block content %}
<div class="container is-fluid mt-3">
    <div class="card">
        <div class="card-content">
            <div class="content">
                Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida
                at eget
                metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis
                consectetur purus sit amet fermentum.
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script src="{{ url_for('static', filename='mqtt.js') }}"></script>
{% endblock %}